#first {
     width: 100%;
     height: 600px;
     margin-top: 6vh;
     background-color: rgba(0, 0, 0, 0);
}

body {
     overflow-x: hidden;
}

.banner {

     width: 100%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     position: relative;
     background-color: rgb(0, 0, 0);
}

.banner div {
     position: absolute;
     width: 100%;
     height: 100%;
}

div.pic1 {
     background-image: url(../images/giraffe500.jpg);
     animation: pic1 20s ease infinite;
}

div.pic2 {
     background-image: url(../images/Lions500.jpg);
     animation: pic2 20s ease infinite;
}

div.pic3 {
     background-image: url(../images/Boy_mobile500.jpg);
     animation: pic3 20s ease infinite;
}

@media screen and (min-width:500px) {
     div.pic1 {
          background-image: url(../images/giraffe900.jpg);
          background-repeat: no-repeat;
          background-size: cover;

     }

     div.pic2 {
          background-image: url(../images/Lions900.jpg);
          background-repeat: no-repeat;
          background-size: cover;

     }

     div.pic3 {
          background-image: url(../images/Boy_mobile900.jpg);
          background-repeat: no-repeat;
          background-size: cover;

     }
}

@keyframes pic3 {
     0% {
          opacity: 0;
     }

     11% {
          opacity: 1;
     }

     22% {
          opacity: 1;
     }

     44.5% {
          opacity: 0;
     }

     100% {
          opacity: 0;
     }
}

@keyframes pic2 {
     0% {
          opacity: 0;
     }


     22% {
          opacity: 0;
     }

     44.5% {
          opacity: 1;
     }

     55.6% {
          opacity: 1;
     }

     78.8% {
          opacity: 0;
     }

     100% {
          opacity: 0;
     }
}

@keyframes pic1 {
     0% {
          opacity: 0;
     }


     33.3% {
          opacity: 0;
     }


     55.6% {
          opacity: 0;
     }

     77.8% {
          opacity: 1;
     }

     88.9% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }
}




.video {
     display: none;
}

.headline {
     display: none;
}

@media screen and (min-width:1424px) {
     #first {
          height: 94vh;
     }

     .banner {
          display: none;
     }

     .video {
          position: relative;
          width: 1424px;
          height: 801px;
          margin-left: auto;
          margin-top: 120px;
          display: block;
     }

     .video video {
          height: 100%;
          width: 100%;
          animation: vid 5s 5.5s forwards;
          opacity: 0;
     }

     @keyframes vid {
          0% {
               opacity: 0;
          }

          100% {
               opacity: 1;
          }
     }

     .video .top {
          position: absolute;
          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 3px;
          right: -100%;
          animation: top 1.5s 1s forwards;
     }

     @keyframes top {
          0% {
               right: -100%;
          }

          100% {
               right: 0;
          }
     }

     .video .left {
          position: absolute;
          background-color: rgb(0, 0, 0);
          height: 100%;
          width: 3px;
          top: -100%;
          animation: left 1.5s 2.5s forwards;
     }

     @keyframes left {
          0% {
               top: -100%;
          }

          100% {
               top: 0;
          }
     }

     .video .bottom {
          position: absolute;
          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 3px;
          left: -100%;
          animation: bottom 1.5s 4s forwards;
          bottom: 0;
     }

     @keyframes bottom {
          0% {
               left: -100%;
          }

          65% {
               height: 3px;
               left: 0;
          }

          100% {
               left: 0;
               height: 100%;
          }
     }

     .headline {
          position: absolute;
          top: 20%;
          left: 11%;
          display: block;
          z-index: 1;

     }

     .headline p {
          font-family: Source Code Pro;
          font-weight: 500;
          font-size: 3.5em;
          position: relative;
          overflow: hidden;
          display: block;
          opacity: 0;
          animation: as 0.5s 5s forwards;
     }

     .headline p:nth-child(2) {
          animation-delay: 5.5s;
     }

     .headline p:nth-child(3) {
          animation-delay: 6s;
     }

     .headline p span {
          color: #ffdc9f;
     }

     .headline p::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: white;
          animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
          transform: translateX(-101%);
     }

     .headline p::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: white;
          animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
          transform: translateX(0);
     }

     span p:nth-of-type(1)::before,
     span p:nth-of-type(1)::after {
          animation-delay: 5.5s;
     }

     span p:nth-of-type(2)::before,
     span p:nth-of-type(2)::after {
          animation-delay: 6s;
     }

     span p:nth-of-type(3)::before,
     span p:nth-of-type(3)::after {
          animation-delay: 6.5s;
     }

     @keyframes a-ltr-after {
          0% {
               transform: translateX(-100%)
          }

          100% {
               transform: translateX(101%)
          }
     }

     @keyframes a-ltr-before {
          0% {
               transform: translateX(0)
          }

          100% {
               transform: translateX(200%)
          }
     }

     @keyframes as {
          0% {
               opacity: 0;
          }

          100% {
               opacity: 1;
          }
     }



}

.mobile-headline {
     display: block;
     width: 90%;
     height: 20vh;
     margin: 30px auto;
     font-size: 25px;
     text-align: center;
     font-family: Source Code Pro;
     border: 2px dotted black;
     line-height: 200%;
}

@media screen and (min-width:400px) {
     .mobile-headline {
          font-size: 25px;
          line-height: 200%;
          width: 80%;
     }
}

@media screen and (min-width:500px) {
     .mobile-headline {
          font-size: 35px;
          line-height: 200%;
     }
}

@media screen and (min-width:900px) {
     .mobile-headline {
          display: none;
     }
}

.world {
     width: 100%;
     height: 100vh;
     background-color: #323442;
     display: grid;
     grid-template-rows: 55% 20% 5% 5% 15%;
     opacity: 0;
}

.active {
     animation: grow 0.7s 0.2s ease forwards;
}

@keyframes grow {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

.globe-area {
     width: 300px;
     height: 300px;
     grid-row: 1/2;
     justify-self: center;
     align-self: center;
     grid-column: 1/2;
     position: relative;
}

.globe {
     width: 300px;
     height: 300px;
     background-image: url(../images/world3.png);
     background-size: 390%;
     background-repeat: repeat-x;
     border-radius: 100%;
     background-color: rgb(8, 19, 54);
     box-shadow: 18px 5px 20px 8px rgba(8, 19, 54, 0.545);
     animation: globerotation 20s linear forwards;
     position: relative;
}

@keyframes globerotation {
     0% {
          background-position: 52% 30%;
     }

     50% {
          background-position: -30% 50%;
     }

     100% {
          background-position: -83% 70%;
     }
}

@media screen and (min-width:370px) {
     .globe-area {
          width: 350px;
          height: 350px;

     }

     .globe {
          width: 350px;
          height: 350px;

     }

}

@media screen and (min-width:450px) {
     .globe-area {
          width: 450px;
          height: 450px;

     }

     .globe {
          width: 450px;
          height: 450px;

     }

}

@media screen and (min-width:600px) {
     .globe-area {
          width: 480px;
          height: 480px;

     }

     .globe {
          width: 480px;
          height: 480px;

     }

}

.world h1,
.world h2 {
     font-family: Source Code Pro;
     font-weight: 600;
     color: #f6f4f0;
     grid-column: 1/2;
}

.world h2 {
     grid-row: 4/5;
     font-size: 1em;
     text-align: center;
     align-self: flex-end;

}

.world h1 {
     grid-row: 3/4;
     align-self: flex-start;
     text-align: center;
     font-size: 1.2em;
}

.world p {
     font-family: ff-basic-gothic-pro, sans-serif;
     font-weight: 500;
     grid-row: 5/6;
     color: #f6f4f0;
     grid-column: 1/2;
     align-self: center;
     font-size: 0.65em;
     text-align: center;
}



@media screen and (min-width:900px) {

     .world {
          display: grid;
          grid-template-rows: 30% 25% 5% 40%;
          grid-template-columns: 60% 30%;
     }



     .globe-area {
          width: 700px;
          height: 700px;
          grid-row: 1/5;
          grid-column: 1/2;
          justify-self: center;
          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .globe {
          width: 600px;
          height: 600px;

     }


     .world p {
          font-family: ff-basic-gothic-pro, sans-serif;
          font-weight: 500;
          grid-row: 4/5;
          color: #f6f4f0;
          grid-column: 2/3;
          align-self: flex-start;
          padding-top: 25px;
          line-height: 20px;
     }

     .world h1,
     .world h2 {
          font-family: Source Code Pro;
          font-weight: 600;
          color: #f6f4f0;
          grid-column: 3/4;
          align-self: center;
     }

     .world h2 {
          grid-row: 3/4;
          grid-column: 2/3;
          align-self: flex-start;
          font-size: 1.6em;
     }

     .world h1 {
          grid-row: 1/2;
          align-self: center;
          grid-column: 2/3;
          font-size: 2em;
     }

}

.globe-area i {
     color: #702f21;
     position: absolute;
     font-size: 8vw;
     top: 200px;
     left: 300px;
     cursor: pointer;
     opacity: 0;
     animation: location 0.9s 20.2s forwards;
     transform: scale(0.2);
}

.globe-area i:nth-of-type(1) {
     top: 275px;
     left: 200px;
}

.globe-area i:nth-of-type(2) {
     top: 183px;
     left: 160px;
}

.globe-area i:nth-of-type(3) {
     top: 170px;
     left: 235px;
}

@keyframes location {
     0% {
          opacity: 0;
          transform: scale(0.2);
     }

     100% {
          opacity: 1;
          transform: scale(1);
     }
}

@media screen and (min-width:450px) {
     .globe-area i {
          font-size: 7vw;
     }

     .globe-area i:nth-of-type(1) {
          top: 350px;
          left: 267px;
     }

     .globe-area i:nth-of-type(2) {
          top: 240px;
          left: 205px;
     }

     .globe-area i:nth-of-type(3) {
          top: 220px;
          left: 320px;
     }
}

@media screen and (min-width:600px) {
     .globe-area i {
          font-size: 6vw;
     }

     .globe-area i:nth-of-type(1) {
          top: 363px;
          left: 280px;
     }

     .globe-area i:nth-of-type(2) {
          top: 245px;
          left: 210px;
     }

     .globe-area i:nth-of-type(3) {
          top: 225px;
          left: 340px;
     }
}

@media screen and (min-width:900px) {


     .globe-area i:nth-of-type(1) {
          top: 510px;
          left: 407px;
     }

     .globe-area i:nth-of-type(2) {
          top: 380px;
          left: 325px;
     }

     .globe-area i:nth-of-type(3) {
          top: 340px;
          left: 475px;
     }
}

@media screen and (min-width:900px) {
     .globe-area i {
          font-size: 3vw;
     }


}



.johanesburg {
     opacity: 0;
}

.luanda {
     opacity: 0;
}

.nairobi {
     opacity: 0;
}

h2.johanesburg {

     color: rgb(144, 224, 63);
}

h2.luanda {

     color: #eeeb58;
}

h2.nairobi {

     color: #fa7254
}



.world div.johanesburg {
     grid-column: 1/2;
     grid-row: 2/3;
     background-image: url(../images/johanesburg.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 95%;
     width: 80%;
     justify-self: center;
     align-self: flex-start;
     box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.75);
}

.world div.luanda {
     background-image: url(../images/luanda.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     grid-column: 1/2;
     grid-row: 2/3;
     height: 95%;
     width: 80%;
     justify-self: center;
     align-self: flex-start;
     box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.75);
}

.world div.nairobi {
     grid-column: 1/2;
     grid-row: 2/3;
     background-image: url(../images/nairobi.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 95%;
     width: 80%;
     justify-self: center;
     align-self: flex-start;
     box-shadow: 0px 0px 18px 7px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width:900px) {
     .world div.johanesburg {

          grid-column: 2/3;

     }

     .world div.luanda {

          grid-column: 2/3;

     }

     .world div.nairobi {

          grid-column: 2/3;

     }
}

.visible {
     opacity: 1;
     transition: all 1.5s ease;
}

.people {
     width: 100%;
     height: 150vh;
     /* background-color: #5f3b34; */
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
}

.people div {
     display: grid;
     grid-template-rows: 60% 10% 30%;
     width: 80%;
     height: 90%;
     justify-self: center;
     align-self: center;
     transition: all 0.5s ease;
}

.people div:hover {
     box-shadow: 10px 10px 17px 2px rgba(0, 0, 0, 0.75);

}

.people div p,
.people div h3 {
     color: rgb(0, 0, 0);
     font-size: 1.3em;
}

.people div p {
     font-size: 0.6em;
     align-self: center;
}

@media screen and (min-width:360px) {
     .people div p {
          font-size: 0.75em;
     }
}

@media screen and (min-width:400px) {
     .people div p {
          font-size: 0.85em;
     }
}

.people div h3 {
     align-self: flex-end;
     font-size: 1.3em;
}

.people div.musk span {
     background: url(../images/Elon\ Musk.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.people div.mandela span {
     background: url(../images/Mandela.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.people div.salah span {
     background: url(../images/Salah.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

@media screen and (min-width:780px) {
     .people div {
          width: 42%;
          grid-template-rows: 30% 70%;
          grid-template-columns: 60% 40%;
          justify-self: center;
          align-self: center;
     }

     .people div p {
          font-size: 1em;
     }

     .people div span {
          grid-row: 1/3;
          grid-column: 1/2;
     }

     .people div.musk span {
          background-size: contain;
          width: 97%;
     }

     .people div.mandela span {
          grid-column: 2/3;
          background-size: contain;
     }

     .people div.salah span {
          width: 97%;
          background-size: contain;
     }


     .people div:nth-child(1) {
          justify-self: left;
     }

     .people div:nth-child(2) {
          justify-self: right;
          grid-template-columns: 40% 60%;
     }

     .people div:nth-child(2):hover {
          box-shadow: -10px 10px 17px 2px rgba(0, 0, 0, 0.75);
     }

     .people div:nth-child(2) img {
          grid-row: 1/3;
          grid-column: 2/3;
     }

     .people div:nth-child(3) {
          justify-self: left;
     }
}

article {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     border: black double 6px;
     background-repeat: no-repeat;
     background-image: url(../images/background.jpg);
     background-position: 36% 30%;
     background-size: cover;

}

article div {
     height: 30%;
     width: 100%;
     opacity: 0.8;
     transition: 0.7s ease;
     display: grid;
     grid-template-rows: 5fr 1fr 4fr;
     position: relative;
     background-color: rgba(0, 0, 0, 0.26);
}

article div:hover {
     opacity: 1;
}

article div p {
     font-family: ff-basic-gothic-pro, sans-serif;
     color: white;
     font-size: 0.8em;
}

article div h3 {
     color: white;
}

article div a {
     width: 60px;
     height: 18px;
     line-height: 18px;
     bottom: 0;
     right: 0;
     position: absolute;
     color: white;
     text-decoration: none;
     text-align: center;
     font-size: 16px;
     border: 2px solid white;
     transition: 0.4s ease;
}

article div a:hover {
     background-color: #fff;
     color: black;
}

@media screen and (min-width:780px) {
     article div a {
          width: 100px;
          height: 40px;
          line-height: 40px;
          font-size: 25px;
          right: 20px;
     }

     article {
          width: 100%;
          height: 105vh;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border: black double 6px;
          background-repeat: no-repeat;
          background-image: url(../images/background.jpg);
          background-position: center;
          background-size: cover;
     }

     article div {
          height: 30%;
          width: 50%;
          align-self: flex-start;
          opacity: 0.5;
          grid-template-rows: 2fr 8fr;
          grid-template-columns: 2fr 3fr;

     }




}


.article1 span {
     background-image: url(../images/money.jpg);
     background-color: #fff;
     width: 100%;
     height: 100%;
     grid-row: 1/4;
     background-position: center;
}

.article2 span {
     background-image: url(../images/tourist.jpg);
     background-color: #fff;
     width: 100%;
     height: 100%;
     grid-row: 1/4;
     background-position: center;
}

.article3 span {
     background-image: url(../images/kids.jpg);
     background-color: #fff;
     width: 100%;
     height: 100%;
     grid-row: 1/4;
     background-position: center;
}


.article1 p {
     width: 100%;
     height: 40%;
     font-family: ff-basic-gothic-pro, sans-serif;
     font-size: 0.8em;
}



@media screen and (min-width:780px) {
     .article1 span {
          grid-row: 1/3;
          grid-column: 1/2;
     }
}