#first {
     width: 100%;
     height: 600px;
     margin-top: 6vh;
     background-color: rgba(0, 0, 0, 0);
}

body {
     overflow-x: hidden;
}

.banner {
     background: url('../images/Boy_mobile500.jpg');
     width: 100%;
     height: 100%;
     animation: banner1 15s infinite alternate both;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
}

@keyframes banner1 {
     0% {
          background: url('../images/Boy_mobile500.jpg');
          background-repeat: no-repeat;
          background-size: cover;
     }

     50% {
          background: url('../images/lions500.jpg');
          background-repeat: no-repeat;
          background-size: cover;
     }

     100% {
          background: url('../images/giraffe500.jpg');
          background-repeat: no-repeat;
          background-size: cover;
     }
}

@media screen and (min-width:500px) {
     .banner {
          animation: banner2 15s infinite alternate;
     }

     @keyframes banner2 {
          0% {
               background: url('../images/Boy_mobile900.jpg');
               background-repeat: no-repeat;
               background-size: cover;
          }

          50% {
               background: url('../images/lions900.jpg');
               background-repeat: no-repeat;
               background-size: cover;
          }

          100% {
               background: url('../images/giraffe900.jpg');
               background-repeat: no-repeat;
               background-size: cover;
          }
     }
}

.video {
     display: none;
}

.headline {
     display: none;
}

@media screen and (min-width:900px) {
     #first {
          height: 94vh;
     }

     .banner {
          display: none;
     }

     .video {
          position: relative;
          width: 1424px;
          height: 801px;
          margin-left: auto;
          margin-top: 120px;
          display: block;
     }

     .video video {
          height: 100%;
          width: 100%;
          animation: vid 5s 5.5s forwards;
          opacity: 0;
     }

     @keyframes vid {
          0% {
               opacity: 0;
          }

          100% {
               opacity: 1;
          }
     }

     .video .top {
          position: absolute;
          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 3px;
          right: -100%;
          animation: top 1.5s 1s forwards;
     }

     @keyframes top {
          0% {
               right: -100%;
          }

          100% {
               right: 0;
          }
     }

     .video .left {
          position: absolute;
          background-color: rgb(0, 0, 0);
          height: 100%;
          width: 3px;
          top: -100%;
          animation: left 1.5s 2.5s forwards;
     }

     @keyframes left {
          0% {
               top: -100%;
          }

          100% {
               top: 0;
          }
     }

     .video .bottom {
          position: absolute;
          background-color: rgb(0, 0, 0);
          width: 100%;
          height: 3px;
          left: -100%;
          animation: bottom 1.5s 4s forwards;
          bottom: 0;
     }

     @keyframes bottom {
          0% {
               left: -100%;
          }

          65% {
               height: 3px;
               left: 0;
          }

          100% {
               left: 0;
               height: 100%;
          }
     }

     .headline {
          position: absolute;
          top: 20%;
          left: 11%;
          display: block;
          z-index: 1;

     }

     .headline p {
          font-family: Source Code Pro;
          font-weight: 500;
          font-size: 3.5em;
          position: relative;
          overflow: hidden;
          display: block;
          opacity: 0;
          animation: as 0.5s 5s forwards;
     }

     .headline p:nth-child(2) {
          animation-delay: 5.5s;
     }

     .headline p:nth-child(3) {
          animation-delay: 6s;
     }

     .headline p span {
          color: #ffdc9f;
     }

     .headline p::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: white;
          animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
          transform: translateX(-101%);
     }

     .headline p::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: white;
          animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
          transform: translateX(0);
     }

     span p:nth-of-type(1)::before,
     span p:nth-of-type(1)::after {
          animation-delay: 5.5s;
     }

     span p:nth-of-type(2)::before,
     span p:nth-of-type(2)::after {
          animation-delay: 6s;
     }

     span p:nth-of-type(3)::before,
     span p:nth-of-type(3)::after {
          animation-delay: 6.5s;
     }

     @keyframes a-ltr-after {
          0% {
               transform: translateX(-100%)
          }

          100% {
               transform: translateX(101%)
          }
     }

     @keyframes a-ltr-before {
          0% {
               transform: translateX(0)
          }

          100% {
               transform: translateX(200%)
          }
     }

     @keyframes as {
          0% {
               opacity: 0;
          }

          100% {
               opacity: 1;
          }
     }



}

.mobile-headline {
     display: block;
     width: 90%;
     height: 20vh;
     margin: 30px auto;
     font-size: 30px;
     text-align: center;
     font-family: Source Code Pro;
     border: 2px dotted black;
     line-height: 9vh;
}

@media screen and (min-width:400px) {
     .mobile-headline {

          line-height: 10vh;
          width: 80%;
     }
}

@media screen and (min-width:500px) {
     .mobile-headline {

          line-height: 10vh;
     }
}

@media screen and (min-width:900px) {
     .mobile-headline {

          display: none;
     }
}

.world {
     width: 100%;
     height: 100vh;
     background-color: #323442;
     display: grid;
     grid-template-rows: 65% 10% 5% 5% 15%;
}

.active {
     animation: grow 2s 0.5s ease forwards;
}

@keyframes grow {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

.globe-area {
     width: 350px;
     height: 350px;
     grid-row: 1/2;
     justify-self: center;
     align-self: center;
     grid-column: 1/2;
}

.globe {
     width: 350px;
     height: 350px;
     background-image: url(../images/world3.png);
     background-size: 390%;
     background-repeat: repeat-x;
     border-radius: 100%;
     background-color: rgb(8, 19, 54);
     box-shadow: 13px -5px 20px 2px rgba(9, 21, 61, 0.445);
     animation: globerotation 40s 2s linear forwards;
     position: relative;
}

@keyframes globerotation {
     0% {
          background-position: 52% 30%;
     }

     50% {
          background-position: -30% 50%;
     }

     100% {
          background-position: -83% 70%;
     }
}

@media screen and (min-width:450px) {
     .globe-area {
          width: 450px;
          height: 450px;

     }

     .globe {
          width: 450px;
          height: 450px;

     }

}

@media screen and (min-width:600px) {
     .globe-area {
          width: 550px;
          height: 550px;

     }

     .globe {
          width: 500px;
          height: 500px;

     }

}

.world h1,
.world h2 {
     font-family: Source Code Pro;
     font-weight: 600;
     color: #f6f4f0;
     grid-column: 1/2;
}

.world h2 {
     grid-row: 4/5;

}

.world h1 {
     grid-row: 3/4;
     align-self: center;
}

.world p {
     font-family: ff-basic-gothic-pro, sans-serif;
     font-weight: 500;
     grid-row: 5/6;
     color: #f6f4f0;
     grid-column: 1/2;
}

@media screen and (min-width:900px) {

     .world {
          display: grid;
          grid-template-rows: 35% 10% 5% 50%;
          grid-template-columns: 60% 30%;
     }

     .globe-area {
          width: 700px;
          height: 700px;
          grid-row: 1/5;
          grid-column: 1/2;
          justify-self: center;
          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     .globe {
          width: 600px;
          height: 600px;

     }

     .world p {
          font-family: ff-basic-gothic-pro, sans-serif;
          font-weight: 500;
          grid-row: 4/5;
          color: #f6f4f0;
          grid-column: 2/3;
     }

     .world h1,
     .world h2 {
          font-family: Source Code Pro;
          font-weight: 600;
          color: #f6f4f0;
          grid-column: 3/4;
          align-self: center;
     }

     .world h2 {
          grid-row: 3/4;
          grid-column: 2/3;
     }

     .world h1 {
          grid-row: 1/2;
          align-self: center;
          grid-column: 2/3;
     }

}